In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import operator


teamsSinceSaison = 2018 - 20
trainerSinceSaison = 2017
trainerTournament = "1. Bundesliga"

untilSaison = 2019

In [2]:
!ls /goalimpacct/data_compressed/

card           match          player-profile team           trainer-name
goal           player         substitution   trainer

In [3]:
TRAINER_RAW = "/goalimpacct/data_compressed/trainer/compressed.csv"
rawTrainerDF =  pd.read_csv(TRAINER_RAW).drop_duplicates()
rawTrainerDF.shape

(164688, 3)

In [4]:
TRAINER_NAME_RAW = "/goalimpacct/data_compressed/trainer-name/compressed.csv"
rawTrainerNameDF =  pd.read_csv(TRAINER_NAME_RAW).drop_duplicates()
rawTrainerNameDF.shape

(7671, 2)

In [5]:
MATCH_CSV = "/goalimpacct/data_compressed/match/compressed.csv"
rawMatchDF =  pd.read_csv(MATCH_CSV)
rawMatchDF.shape

(80412, 7)

In [6]:
GOAL_CSV = "/goalimpacct/data_compressed/goal/compressed.csv"
rawGoalDF =  pd.read_csv(GOAL_CSV)
rawGoalDF.shape

(229884, 6)

In [7]:
rawMatchDF

,:id,:tournament,:date,:home,:guest,:saison,:match-length
0,1,UEFA Champions League,17.09.2003,27.0,371.0,2003,90.0
1,10,UEFA Champions League,16.09.2003,985.0,265.0,2003,90.0
2,1000004,Scottish League One,20.03.2010,3032.0,3021.0,2009,90.0
3,1000005,Scottish League One,27.03.2010,3021.0,3020.0,2009,90.0
4,1000011,Scottish League One,03.04.2010,2575.0,3021.0,2009,90.0
5,1000021,Scottish League One,17.04.2010,3021.0,3027.0,2009,90.0
6,1000026,Scottish League One,24.04.2010,3023.0,3021.0,2009,90.0
7,1000064,ÖFB-Cup,18.09.2001,7001.0,122.0,2001,90.0
8,1000076,ÖFB-Cup,19.03.2002,170.0,409.0,2001,90.0
9,1000095,LaLiga,17.11.2002,150.0,940.0,2002,90.0
10,1000105,LaLiga,24.11.2002,13.0,150.0,2002,90.0
11,1000109,LaLiga,01.12.2002,150.0,621.0,2002,90.0
12,1000123,LaLiga,08.12.2002,714.0,150.0,2002,90.0
13,1000131,LaLiga,15.12.2002,150.0,367.0,2002,90.0
14,1000144,LaLiga,22.12.2002,150.0,331.0,2002,90.0
15,1000146,LaLiga,04.01.2003,366.0,150.0,2002,90.0
16,1000163,LaLiga,12.01.2003,150.0,1108.0,2002,90.0
17,1000173,LaLiga,19.01.2003,630.0,150.0,2002,90.0
18,1000181,LaLiga,26.01.2003,150.0,1050.0,2002,90.0
19,1000190,LaLiga,02.02.2003,150.0,897.0,2002,90.0
20,1000199,Allsvenskan,11.04.2010,1011.0,2719.0,2009,90.0
21,1000201,Allsvenskan,11.04.2010,801.0,1092.0,2009,90.0
22,1000205,LaLiga,08.02.2003,418.0,150.0,2002,90.0
23,1000275,Challenge League,28.02.2010,1277.0,527.0,2009,90.0
24,1000276,Challenge League,28.02.2010,850.0,322.0,2009,90.0
25,1000277,Challenge League,28.02.2010,242.0,163.0,2009,90.0
26,1000280,Challenge League,01.03.2010,2074.0,938.0,2009,90.0
27,1000292,Challenge League,06.03.2010,61.0,1277.0,2009,90.0
28,1000294,Challenge League,07.03.2010,163.0,12424.0,2009,90.0
29,1000295,Challenge League,07.03.2010,2155.0,850.0,2009,90.0
...,...,...,...,...,...,...,...
80382,2459635,Eredivisie,21.09.2014,1304.0,317.0,2014,90.0
80383,2459636,Eredivisie,21.09.2014,1090.0,1269.0,2014,90.0
80384,2459637,Eredivisie,21.09.2014,234.0,610.0,2014,90.0
80385,2459638,Eredivisie,21.09.2014,383.0,133.0,2014,90.0
80386,2459639,Eredivisie,21.09.2014,200.0,202.0,2014,90.0
80387,2459640,Eredivisie,27.09.2014,1455.0,499.0,2014,90.0
80388,2459641,Eredivisie,27.09.2014,1269.0,1304.0,2014,90.0
80389,2459642,Eredivisie,27.09.2014,1435.0,234.0,2014,90.0
80390,2459643,Eredivisie,27.09.2014,132.0,610.0,2014,90.0
80391,2459644,Eredivisie,27.09.2014,1268.0,1090.0,2014,90.0
80392,2459647,Eredivisie,28.09.2014,317.0,200.0,2014,90.0
80393,2459648,Eredivisie,28.09.2014,306.0,383.0,2014,90.0
80394,2459649,Eredivisie,03.10.2014,499.0,1268.0,2014,90.0
80395,2459650,Eredivisie,04.10.2014,1304.0,132.0,2014,90.0
80396,2459652,Eredivisie,04.10.2014,403.0,306.0,2014,90.0
80397,2459653,Eredivisie,04.10.2014,200.0,1435.0,2014,90.0
80398,2459654,Eredivisie,05.10.2014,383.0,798.0,2014,90.0
80399,2459655,Eredivisie,05.10.2014,1090.0,317.0,2014,90.0
80400,2459656,Eredivisie,05.10.2014,234.0,202.0,2014,90.0
80401,2459657,Eredivisie,05.10.2014,610.0,1269.0,2014,90.0
80402,2459658,Eredivisie,18.10.2014,403.0,499.0,2014,90.0
80403,2459659,Eredivisie,18.10.2014,383.0,1090.0,2014,90.0
80404,2459660,Eredivisie,18.10.2014,234.0,1304.0,2014,90.0
80405,2459661,Eredivisie,18.10.2014,132.0,1268.0,2014,90.0
80406,2459662,Eredivisie,18.10.2014,317.0,610.0,2014,90.0
80407,2459663,Eredivisie,19.10.2014,306.0,133.0,2014,90.0
80408,2459664,Eredivisie,19.10.2014,1455.0,200.0,2014,90.0
80409,2459665,Eredivisie,19.10.2014,1435.0,1269.0,2014,90.0
80410,2459667,Eredivisie,24.10.2014,1268.0,1455.0,2014,90.0
80411,2459668,Eredivisie,25.10.2014,499.0,132.0,2014,90.0

In [8]:
goalsPerMatch = rawGoalDF.groupby([':team', ':match']).size().reset_index(name='counts')

In [9]:
homeGoals = goalsPerMatch.rename(columns={'counts': 'homeGoals'})
homeMatchDF = rawMatchDF.merge(homeGoals, left_on=[':home', ':id'], right_on=[':team', ':match']).drop(columns=[':team', ':match'])

In [10]:
guestGoals = goalsPerMatch.rename(columns={'counts': 'guestGoals'})
goalMatchDF = homeMatchDF.merge(guestGoals, left_on=[':guest', ':id'], right_on=[':team', ':match']).drop(columns=[':team', ':match'])

In [11]:
goalMatchDF

,:id,:tournament,:date,:home,:guest,:saison,:match-length,homeGoals,guestGoals
0,1,UEFA Champions League,17.09.2003,27.0,371.0,2003,90.0,2,1
1,1000021,Scottish League One,17.04.2010,3021.0,3027.0,2009,90.0,1,1
2,1000064,ÖFB-Cup,18.09.2001,7001.0,122.0,2001,90.0,1,6
3,1000076,ÖFB-Cup,19.03.2002,170.0,409.0,2001,90.0,1,2
4,1000095,LaLiga,17.11.2002,150.0,940.0,2002,90.0,2,1
5,1000123,LaLiga,08.12.2002,714.0,150.0,2002,90.0,2,4
6,1000144,LaLiga,22.12.2002,150.0,331.0,2002,90.0,2,1
7,1000163,LaLiga,12.01.2003,150.0,1108.0,2002,90.0,2,2
8,1000181,LaLiga,26.01.2003,150.0,1050.0,2002,90.0,2,1
9,1000199,Allsvenskan,11.04.2010,1011.0,2719.0,2009,90.0,1,2
10,1000201,Allsvenskan,11.04.2010,801.0,1092.0,2009,90.0,1,1
11,1000205,LaLiga,08.02.2003,418.0,150.0,2002,90.0,4,1
12,1000276,Challenge League,28.02.2010,850.0,322.0,2009,90.0,1,2
13,1000277,Challenge League,28.02.2010,242.0,163.0,2009,90.0,4,3
14,1000295,Challenge League,07.03.2010,2155.0,850.0,2009,90.0,1,2
15,1000311,Challenge League,14.03.2010,163.0,61.0,2009,90.0,1,2
16,1000312,Challenge League,14.03.2010,2790.0,1277.0,2009,90.0,4,2
17,1000316,Challenge League,20.03.2010,527.0,163.0,2009,90.0,2,2
18,1000320,Challenge League,21.03.2010,1277.0,2148.0,2009,90.0,3,1
19,1000322,Challenge League,21.03.2010,5507.0,938.0,2009,90.0,1,3
20,1000326,Challenge League,27.03.2010,322.0,242.0,2009,90.0,1,3
21,1000328,Challenge League,27.03.2010,163.0,1277.0,2009,90.0,1,3
22,1000329,Challenge League,27.03.2010,938.0,2411.0,2009,90.0,3,2
23,1000330,Challenge League,28.03.2010,2148.0,850.0,2009,90.0,1,1
24,1000331,Challenge League,01.04.2010,1277.0,938.0,2009,90.0,2,1
25,1000332,Challenge League,05.04.2010,850.0,2790.0,2009,90.0,3,3
26,1000338,Challenge League,03.04.2010,242.0,2155.0,2009,90.0,1,1
27,1000342,Challenge League,10.04.2010,2411.0,850.0,2009,90.0,1,2
28,1000346,Challenge League,12.04.2010,938.0,2155.0,2009,90.0,2,2
29,1000348,Challenge League,05.05.2010,850.0,1277.0,2009,90.0,1,1
...,...,...,...,...,...,...,...,...,...
42196,2459615,Eredivisie,30.08.2014,1455.0,1090.0,2014,90.0,1,3
42197,2459616,Eredivisie,30.08.2014,798.0,1304.0,2014,90.0,3,1
42198,2459617,Eredivisie,30.08.2014,306.0,200.0,2014,90.0,3,1
42199,2459619,Eredivisie,31.08.2014,132.0,1269.0,2014,90.0,3,1
42200,2459622,Eredivisie,13.09.2014,610.0,1304.0,2014,90.0,2,1
42201,2459623,Eredivisie,13.09.2014,317.0,1435.0,2014,90.0,2,1
42202,2459625,Eredivisie,13.09.2014,234.0,403.0,2014,90.0,1,2
42203,2459626,Eredivisie,13.09.2014,1269.0,383.0,2014,90.0,3,1
42204,2459629,Eredivisie,14.09.2014,499.0,798.0,2014,90.0,3,1
42205,2459633,Eredivisie,20.09.2014,1268.0,1435.0,2014,90.0,1,1
42206,2459634,Eredivisie,20.09.2014,499.0,306.0,2014,90.0,1,1
42207,2459635,Eredivisie,21.09.2014,1304.0,317.0,2014,90.0,1,4
42208,2459640,Eredivisie,27.09.2014,1455.0,499.0,2014,90.0,2,6
42209,2459641,Eredivisie,27.09.2014,1269.0,1304.0,2014,90.0,4,2
42210,2459643,Eredivisie,27.09.2014,132.0,610.0,2014,90.0,2,5
42211,2459644,Eredivisie,27.09.2014,1268.0,1090.0,2014,90.0,2,3
42212,2459647,Eredivisie,28.09.2014,317.0,200.0,2014,90.0,3,1
42213,2459649,Eredivisie,03.10.2014,499.0,1268.0,2014,90.0,6,1
42214,2459650,Eredivisie,04.10.2014,1304.0,132.0,2014,90.0,6,1
42215,2459652,Eredivisie,04.10.2014,403.0,306.0,2014,90.0,2,1
42216,2459653,Eredivisie,04.10.2014,200.0,1435.0,2014,90.0,2,3
42217,2459655,Eredivisie,05.10.2014,1090.0,317.0,2014,90.0,2,2
42218,2459658,Eredivisie,18.10.2014,403.0,499.0,2014,90.0,1,4
42219,2459660,Eredivisie,18.10.2014,234.0,1304.0,2014,90.0,2,1
42220,2459661,Eredivisie,18.10.2014,132.0,1268.0,2014,90.0,1,1
42221,2459662,Eredivisie,18.10.2014,317.0,610.0,2014,90.0,1,1
42222,2459663,Eredivisie,19.10.2014,306.0,133.0,2014,90.0,2,2
42223,2459664,Eredivisie,19.10.2014,1455.0,200.0,2014,90.0,1,3
42224,2459665,Eredivisie,19.10.2014,1435.0,1269.0,2014,90.0,3,2
42225,2459668,Eredivisie,25.10.2014,499.0,132.0,2014,90.0,2,2

In [12]:
homeScoresDF = goalMatchDF.drop(columns=[ ':date', ':guest', ':match-length']).rename(columns={':home': ':team'})
homeScoresDF['score'] = np.where(homeScoresDF['homeGoals'] > homeScoresDF['guestGoals'], 3, np.where(homeScoresDF['homeGoals'] < homeScoresDF['guestGoals'], 0, 1))
homeScoresDF.drop(columns=['homeGoals', 'guestGoals'], inplace=True)

In [13]:
guestScoresDF = goalMatchDF.drop(columns=[':date', ':home',':match-length']).rename(columns={':guest': ':team'})
guestScoresDF['score'] = np.where(guestScoresDF['guestGoals'] > guestScoresDF['homeGoals'], 3, np.where(guestScoresDF['guestGoals'] < guestScoresDF['homeGoals'], 0, 1))
guestScoresDF.drop(columns=['guestGoals', 'homeGoals'], inplace=True)

In [14]:
teamScoresDF = pd.concat([homeScoresDF, guestScoresDF]).rename(columns={":id":":match"})

teamScoresDF = teamScoresDF[teamScoresDF[':saison'] >= teamsSinceSaison]
teamScoresDF = teamScoresDF[teamScoresDF[':saison'] < untilSaison]

In [15]:
teamScoresDF

        :match            :tournament   :team  :saison  score
0            1  UEFA Champions League    27.0     2003      3
1      1000021    Scottish League One  3021.0     2009      1
2      1000064                ÖFB-Cup  7001.0     2001      0
3      1000076                ÖFB-Cup   170.0     2001      0
4      1000095                 LaLiga   150.0     2002      3
5      1000123                 LaLiga   714.0     2002      0
6      1000144                 LaLiga   150.0     2002      3
7      1000163                 LaLiga   150.0     2002      1
8      1000181                 LaLiga   150.0     2002      3
9      1000199            Allsvenskan  1011.0     2009      0
10     1000201            Allsvenskan   801.0     2009      1
11     1000205                 LaLiga   418.0     2002      3
12     1000276       Challenge League   850.0     2009      0
13     1000277       Challenge League   242.0     2009      3
14     1000295       Challenge League  2155.0     2009      0
15     1000311       Challenge League   163.0     2009      0
16     1000312       Challenge League  2790.0     2009      3
17     1000316       Challenge League   527.0     2009      1
18     1000320       Challenge League  1277.0     2009      3
19     1000322       Challenge League  5507.0     2009      0
20     1000326       Challenge League   322.0     2009      0
21     1000328       Challenge League   163.0     2009      0
22     1000329       Challenge League   938.0     2009      3
23     1000330       Challenge League  2148.0     2009      1
24     1000331       Challenge League  1277.0     2009      3
25     1000332       Challenge League   850.0     2009      1
26     1000338       Challenge League   242.0     2009      1
27     1000342       Challenge League  2411.0     2009      0
28     1000346       Challenge League   938.0     2009      1
29     1000348       Challenge League   850.0     2009      1
...        ...                    ...     ...      ...    ...
42196  2459615             Eredivisie  1090.0     2014      3
42197  2459616             Eredivisie  1304.0     2014      0
42198  2459617             Eredivisie   200.0     2014      0
42199  2459619             Eredivisie  1269.0     2014      0
42200  2459622             Eredivisie  1304.0     2014      0
42201  2459623             Eredivisie  1435.0     2014      0
42202  2459625             Eredivisie   403.0     2014      3
42203  2459626             Eredivisie   383.0     2014      0
42204  2459629             Eredivisie   798.0     2014      0
42205  2459633             Eredivisie  1435.0     2014      1
42206  2459634             Eredivisie   306.0     2014      1
42207  2459635             Eredivisie   317.0     2014      3
42208  2459640             Eredivisie   499.0     2014      3
42209  2459641             Eredivisie  1304.0     2014      0
42210  2459643             Eredivisie   610.0     2014      3
42211  2459644             Eredivisie  1090.0     2014      3
42212  2459647             Eredivisie   200.0     2014      0
42213  2459649             Eredivisie  1268.0     2014      0
42214  2459650             Eredivisie   132.0     2014      0
42215  2459652             Eredivisie   306.0     2014      0
42216  2459653             Eredivisie  1435.0     2014      3
42217  2459655             Eredivisie   317.0     2014      1
42218  2459658             Eredivisie   499.0     2014      3
42219  2459660             Eredivisie  1304.0     2014      0
42220  2459661             Eredivisie  1268.0     2014      1
42221  2459662             Eredivisie   610.0     2014      1
42222  2459663             Eredivisie   133.0     2014      1
42223  2459664             Eredivisie   200.0     2014      3
42224  2459665             Eredivisie  1269.0     2014      0
42225  2459668             Eredivisie   132.0     2014      1

[83402 rows x 5 columns]

In [16]:


matchesSince = teamScoresDF.loc[
    operator.and_(teamScoresDF[":saison"] >= trainerSinceSaison,
    teamScoresDF[":tournament"] == trainerTournament)
]


relevantTeams = matchesSince[':team'].drop_duplicates()
relevantTeamScoresDF = teamScoresDF.merge(relevantTeams)

relevantTeamScoresDF = relevantTeamScoresDF.loc[relevantTeamScoresDF[":saison"] >= trainerSinceSaison]

In [17]:
relevantTeamScoresDF

Empty DataFrame
Columns: [:match, :tournament, :team, :saison, score]
Index: []

In [18]:
trainerScoresDF = relevantTeamScoresDF.merge(rawTrainerDF, on=[':team', ':match']).merge(rawTrainerNameDF, on=":trainer")

In [19]:
scoresPerTrainerAndTeam = trainerScoresDF.groupby([':trainer', ':team', ':trainername'])['score'].agg([
    'mean', 'count']).reset_index()

scoresPerTrainerAndTeam.rename(columns={"mean":"trainerMean", "count" : "trainerMatchCount"}, inplace=True)

In [20]:
scoresPerTeam = teamScoresDF.groupby([':team'])['score'].agg([
    'mean', 'count']).reset_index()

scoresPerTeam.rename(columns={"mean":"teamMean", "count" : "teamMatchCount"}, inplace=True)

In [21]:
diffScoresTeamTrainer = scoresPerTeam.merge(scoresPerTrainerAndTeam, on=":team")

diffScoresTeamTrainer["trainerTeamDiff"] = diffScoresTeamTrainer["trainerMean"] - diffScoresTeamTrainer["teamMean"]

diffScoresTeamTrainer

Empty DataFrame
Columns: [:team, teamMean, teamMatchCount, :trainer, :trainername, trainerMean, trainerMatchCount, trainerTeamDiff]
Index: []

In [22]:
trainerDiff = diffScoresTeamTrainer.groupby([
    ':trainer', ':trainername', ':team', 'teamMean'])['trainerTeamDiff', 'trainerMatchCount'].agg([
    'mean', 'sum']).reset_index()

trainerDiff

Empty DataFrame
Columns: [(:trainer, ), (:trainername, ), (:team, ), (teamMean, ), (trainerTeamDiff, mean), (trainerTeamDiff, sum), (trainerMatchCount, mean), (trainerMatchCount, sum)]
Index: []

In [23]:
trainerDiff['trainerTeamDiffs'] = trainerDiff['trainerTeamDiff']['mean']
trainerDiff['trainerMatchCounts'] = trainerDiff['trainerMatchCount']['sum']
trainerDiff.drop(columns=['trainerTeamDiff', 'trainerMatchCount'], inplace=True)

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:3812: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  new_axis = axis.drop(labels, errors=errors)

In [24]:
trainerSince = matchesSince.merge(rawTrainerDF, on=":match")[':trainer'].drop_duplicates()

In [25]:
trainerDiff.merge(trainerSince, left_on=":trainer", 
                  right_on=":trainer").sort_values(by=['trainerTeamDiffs'], ascending=False)

/usr/local/lib/python3.7/site-packages/pandas/core/reshape/merge.py:522: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

KeyError: 'trainerTeamDiffs'